
.border-box{
    font-size:20px;    
    background-color:beige;
}

nav{
    background:Black;
    color: white;
    padding:.5em;
    display:flex;
    align-items: center;
    font-size:20px;
}

ul{
    border: 4px;
    border-style: solid;
    border-color:black;
    list-style: none;
    padding:15px 50%;
}


.list-name{
    font-size: 28px;
    display:flex;
    align-self: start;
    
}

.list-form{
    display:flex;
    justify-content: center;
    margin: 3em;

}

.post-list{
    display:flex;
    justify-content: center;
    padding: 1em;
}