.border-box{
    font-size:20px;    
    background-color:beige;
}

nav{
    background:Black;
    color: white;
    padding:.5em;
    display:flex;
    align-items: center;
    font-size:20px;
}

.list-form{
    display:flex;
    justify-content: center;
    margin: 3em;

}

.post-list{
    display:flex;
    justify-content: center;
    padding: 2em;
}